/* Gallery grid layout */
body {
    background-color:rgb(236, 233, 245) !important;
  }
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    padding: 16px;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: for rounded corners */
}

/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
}
.center {
    text-align: center;
    padding: 10px;
  }

  h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 70px !important;
  }

  h2 {
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px !important;
  }

